/* 导航栏下半半透明样式 */
@media (min-width: 1024px) {
    #banner-wrapper ~ * #navbar[data-transparent-mode="full"] > div,
    body:has(#banner-wrapper) #navbar[data-transparent-mode="full"] > div {
        backdrop-filter: blur(20px) !important;
        background: white !important;
        border-radius: 0 0 1rem 1rem !important;
    }
}

@media (max-width: 1023px) {
    #banner-wrapper ~ * #navbar[data-transparent-mode="full"][data-is-home="true"] > div, body:has(#banner-wrapper) #navbar[data-transparent-mode="full"][data-is-home="true"] > div {
        backdrop-filter: blur(20px) !important;
        background: white !important;
        border-radius: 0 0 1rem 1rem !important;
    }
}
#navbar > div {
    border-radius: 0 0 1rem 1rem !important;
    background: white !important;
}